.header_left{
        position: relative;
        transform: translateY(+60%);
}

.header_right{
        float: right;
        height: 60px;   
        
}

.main_map, .border_map{
        /*border-radius: 10px;
        border: 2px solid #ddd;
      
        /*margin-left: 5px;*/
          padding: 20px;
}


.flags{
        float:right;
        margin-right: 15px;
}

.flag_right{
        margin: 2px;
        background-color: transparent;
        border-color: transparent;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 1px;
        padding-right: 1px;

}


#pie_bar, #profiling_bar, #type_bar{
        background-color: #ffbc28;
        /*padding: 5px;*/
        height: 60px;
       
       
}
#provenience_bar p {
        margin: 10px;
}

#profiling_bar p {
        margin: 10px;
}

#type_bar p{
        margin:10px;
}


#page_bar{
        background-color: #ffbc28;
        height: 60px;
        margin-left:5px;
        margin-right: 5px;

}

.map_bar{
        margin: 15px;
}





.pie_class{
        border-bottom-color: "";
        
}

.stop_filter{
  float: right;
  margin-top: 10px;
}



